#map {
    transition: opacity 1s ease;
    position: fixed;
    right: 0;
    width: 80vw;
    height: 100vh;
    background-color: rgb(255, 247, 231);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visible {
    opacity: 1;
}

#user-location{
    width: 20px;
    height: 20px;
    background-color: orange;
    border: 4px white;
    border-radius: 50%;
    text-align: center;
    color: blue;
    font-size: 13px;
    font-stretch: condensed;
}

.bus-marker{
    width: 20px;
    height: 20px;
    background-color: black;
    border: 4px white;
    text-align: center;
    color: blue;
    font-size: 13px;
    font-stretch: condensed;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    /* Ensures the component is not interactive when hidden */
    height: 0;
    overflow: hidden;
    /* Hides the content when opacity is 0 */
}

.recenter{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 100px;
    text-align: center;
    z-index: 0;
    padding: 5px;
    border-radius: 5px;
    color: orange;
    background: blanchedalmond;
    font-family: "Nunito Sans", sans-serif;
}

.recenter:hover{
    cursor: pointer;
    background-color: orange;
    color: white;
}

@media only screen and (max-width: 767px){
    #map{
        width: 100vw;
        height: 50vh;
        top: 0;
    }
}