.bus-info{
    width: 30%;
    align-items: center;
    text-align: center;
}

.option-card{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.transit-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.buses-to-display{    
    width: 100%;
    display: flex;    
    flex-direction: row;
    justify-content: space-evenly;
}

.bus-number{
    border-radius: 10%;
    text-align: center;
    width: 20%;
    background-color: rgba(255, 166, 0, 0.742);
    color: white;
}