@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
#side-panel{
    border-radius: 10px;
    overflow-y: scroll;
    /* transition: opacity 0.5s ease; */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: rgb(255, 247, 231);
    height: 100vh;
    width: 20vw;
    position: fixed;
    left: 0vw;
}

.options{
    width: 100%;
}



.changes-count{
    font-size: 0.8rem;
    color: #6e500f;
}

#findButton {
    margin-bottom: 5px;
    color: white;
    background: #ffa500;
    font-family: "Nunito Sans", sans-serif;
}

.side-panel-form{
    margin-top: 5%;
    width: 100%;
    right: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.side-panel-text{
    width: 70%;
}

@media only screen and (max-width: 767px){
    #side-panel{
        overflow-y: scroll;
        height: 50vh;
        width: 100vw;
        bottom: 0;
    }
}