#side-panel{
    /* transition: opacity 0.5s ease; */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: rgb(255, 247, 231);
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0vw;
}

.side-panel-form{
    width: 100%;
    top: 2%;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.side-panel-text{
    width: 70%;
}

.side-panel-visible{
    opacity: 1;
}

.side-panel-hidden{
    opacity: 0;
    pointer-events: none;
    /* Ensures the component is not interactive when hidden */
    height: 0;
    overflow: hidden;
    /* Hides the content when opacity is 0 */
}