#side-panel{
    overflow-y: scroll;
    /* transition: opacity 0.5s ease; */
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background-color: rgb(255, 247, 231);
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0vw;
}

#findButton {
    margin-bottom: 5px;
    color: white;
    background: #ffa500;
    font-family: "Nunito Sans", sans-serif;
}

.side-panel-form{
    margin-top: 5%;
    width: 100%;
    top: 2%;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.loading-spinner{
    position: absolute;
}

.options{
    position: absolute;
}

.side-panel-text{
    width: 70%;
}

.side-panel-visible{
    opacity: 1;
}

.side-panel-hidden{
    opacity: 0;
    pointer-events: none;
    /* Ensures the component is not interactive when hidden */
    height: 0;
    overflow: hidden;
    /* Hides the content when opacity is 0 */
}

@media only screen and (max-width: 767px){
    #side-panel{
        height: 50vh;
        width: 100vw;
        bottom: 0;
    }

    .options{
        top: 60%;
    }

    .loading-spinner{
        top: 60%;
    }
}